body {
  font-family: Arial, sans-serif;
  background-color: #dadada;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  max-width: 200px;
  width: 100%;
  height: auto;
  margin: 0 auto 20px;
}

h1 {
  text-align: center;
  color: #5d125b;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  color: #0e8fcf;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

button {
  background-color: #c4d500;
  color: #000;
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a8bc00;
}

#mensagem,
#alerta,
#contador {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  color: #5d125b;
}
